<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/0434b5e439.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <title>MC-Products | {% block title %}{% endblock %}</title>

    </head>
    <body>
        <header>
        <div id="div-title">
            <i class="fab fa-confluence"></i>
            <p id="titre-site">MC Products</p>
        </div>
        <div id="espace-utilisateur">
            <p id="name">Michelle Peugeot</p>
            <img src ="/assets/images/profil-picture.jpg" alt="Photo de Profil" id="profil-picture"/>
        </div>

        </header>
        
        <main>

        <div id="container-main-nav">
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Ajouter</a></li>
                <li><a href="#">Rechercher</a></li>
                <li><a href="#">Se deconnecter</a></li>
            </ul>

        </nav>

        <div id="content">
        {% block content %}{% endblock %}
        </div>
       
    </body>
</html>
